<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/0615dc2069.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <title>Travel App</title>
    </head>
    <body>
        <section id="traveling">
            <h1 class="travel ml3">Why we need to travel?</h1>
            <p>The journey can be long or short, but it's not important! The important is to live fully every second, every situation, live the emotions every single moment!<br> 
                We have to travel because we need to be happy, live with carefreeness and above all we need to know the world, the traditions of a population, the places, and this, in order not to remain ignorant.
                <br><strong>Traveling opens the mind!!</strong>
            </p>
        </section>
        <br>
        <div class="card">
            <section id="trip_section">
                <div class="the_trip">
                    <form class="form_content" id="form" onsubmit="return Client.handleSubmit(event)">
                        <h2 class="form_text">Plan your trip!</h2>
                        <input type="text" id="input_from" name="from" placeholder="Departing" autocomplete="off" required>
                        <input type="text" id="input_to" name="to" placeholder="Arriving" autocomplete="off" required>
                        <input type="date" id="input_date" name="date" required>
                        <button type="submit" class="button_submit" name="submit" value="Submit">Search</button>
                    </form>
                </div>
            </section>
        </div>
        <br>
        <section id="results">
            <div class="the_results">
                <div class="result_image">
                    <img alt="Destination" class="pixabay_image">
                </div>
                <div class="trip_results">
                    <h2 class="result">Destination: <span class="city"></span> <i class="fas fa-city"></i></h2>
                    <h2 class="result">Departure date: <span class="date"></span> <i class="fas fa-calendar-day"></i></h2>
                    <h2 class="result">Trip starts in: <span class="days"> NUM </span> days <i class="fas fa-plane-departure"></i></h2>
                    <h2 class="result">Weather will be: <span class="weather"></span> <i class="fas fa-temperature-high"></i></h2>
                    <button class="button_print" id="print" href="#">Print booking <i class="fas fa-print"></i></button>
                    <button class="button_delete" id="delete" href="#">Delete booking <i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </section>
        <p id="demo"></p>
        <footer>
            <div class="name">
                <h5>&copy; <span id="date"></span> Andrea Scacchi. All rights reserved.</h5>
            </div>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
