@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Lora&display=swap");
::-moz-selection {
  background: #440505;
  color: #ffffff;
}
::selection {
  background: #440505;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(https://images.pexels.com/photos/1655985/pexels-photo-1655985.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#traveling h1 {
  font-size: 4em;
  text-align: center;
  color: #00c3ff;
  font-family: "IBM Plex Serif", sans-serif;
}

#traveling p {
  color: #000000;
  font-family: "IBM Plex Serif", sans-serif;
  text-align: center;
  font-size: 1.1em;
  margin: 3em 0 3em 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  width: 50vw;
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 2em;
  font-family: "IBM Plex Serif", sans-serif;
  color: #440505;
}

.card input {
  background: #ffffff;
  color: #440505;
  border: 1px solid #000000;
}

.card #input_from {
  font-size: 20px;
  font-family: "IBM Plex Serif", sans-serif;
}

.card #input_to {
  font-size: 20px;
  font-family: "IBM Plex Serif", sans-serif;
}

.card #input_date {
  font-size: 20px;
  font-family: "IBM Plex Serif", sans-serif;
}

.card .button_submit {
  background: #ffffff;
  color: #440505;
  display: inline;
  font-size: 14px;
  margin-top: 1.5rem;
  width: 100px;
  font-weight: bold;
  font-family: "IBM Plex Serif", sans-serif;
  border: 1px solid #000000;
  border-radius: 50px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 3px #999;
          box-shadow: 0 3px #999;
}

.card .button_submit:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.MyResults {
  font-size: 1em;
  font-family: "Lora", sans-serif;
}

.MyResults h2 {
  color: #000000;
}

.MyResults span {
  color: #440505;
  font-family: "IBM Plex Serif", sans-serif;
}

.MyResults .button-print {
  display: inline;
  background: #ffffff;
  color: #000000;
  font-size: 0.8em;
  font-family: "IBM Plex Serif", sans-serif;
  border: 1px solid #000000;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px #999;
          box-shadow: 0 3px #999;
}

.MyResults .button-delete {
  display: inline;
  background: #ffffff;
  color: #000000;
  font-size: 0.8em;
  font-family: "IBM Plex Serif", sans-serif;
  border: 1px solid #000000;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px #999;
          box-shadow: 0 3px #999;
}

.MyResults .button-print:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.MyResults .button-delete:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

.name {
  font-size: 1.4em;
  font-family: "Lora", sans-serif;
  text-align: center;
  color: #000000;
}

@media (max-width: 500px) {
  body {
    background-image: url(https://cdn.pixabay.com/photo/2015/07/11/23/02/plane-841441_1280.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fd9e02;
  }
  #traveling {
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 55px;
    margin-bottom: 55px;
    font-family: serif;
    font-style: oblique;
  }
  .WhyTravel {
    font-size: 1.4em;
    color: #dc2f02;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    width: 50vw;
    margin: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.4em;
    font-style: normal;
    font-family: monospace;
    color: #000;
  }
  input {
    margin-top: 1.5rem;
    margin-left: 1rem;
    padding: 14px 11px;
    background: #000;
    color: #e5e5e5;
    font-size: 10px;
    font-style: italic;
    font-family: fantasy;
    border: 5px solid #bc00dd;
  }
  #input_from {
    font-size: 12px;
    font-style: oblique;
    font-family: cursive;
    color: #ffffff;
  }
  #input_to {
    font-size: 12px;
    font-style: oblique;
    font-family: cursive;
    color: #9a031e;
  }
  #input_date {
    font-size: 12px;
    font-style: oblique;
    font-family: cursive;
    color: #04a6c2;
  }
  .button_submit {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 1.5rem;
    width: 100px;
    display: inline;
    background: #000;
    color: #ffd000;
    font-size: 7px;
    font-weight: bold;
    font-style: oblique;
    font-family: serif;
    border: 5px solid #014f86;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 3px #780116;
            box-shadow: 0 3px #780116;
  }
  .button_submit:hover {
    background: #ffd000;
    color: #000;
  }
  .MyResults {
    font-size: 14px;
    font-style: normal;
    font-family: sans-serif;
  }
  .city-text-result {
    color: #2a3d45;
  }
  .date-text-result {
    color: #5c4d3c;
  }
  .days-text-result {
    color: #000;
  }
  .weather-text-result {
    color: #d6cfcb;
  }
  .button-print, .button-delete {
    display: inline;
    background: #000;
    color: #ffd000;
    font-size: 8px;
    font-style: oblique;
    font-family: serif;
    border: 5px solid #014f86;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    -webkit-box-shadow: 0 3px #780116;
            box-shadow: 0 3px #780116;
  }
  .button-print:hover {
    background: #b7b7a4;
    color: #03045e;
  }
  .button-delete:hover {
    background: #b7b7a4;
    color: #245501;
  }
  #demo {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
  }
  .name {
    font-size: 0.5em;
    font-family: inherit;
    text-align: right;
    color: #005c00;
  }
}

@media (min-width: 501px) and (max-width: 750px) {
  body {
    background-image: url(https://cdn.pixabay.com/photo/2015/07/11/23/02/plane-841441_1280.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #4ea8de;
  }
  #traveling {
    text-align: center;
    font-size: 17px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 55px;
    margin-bottom: 55px;
    font-family: monospace;
    font-style: italic;
  }
  .WhyTravel {
    font-size: 2em;
    color: #144552;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    width: 50vw;
    margin: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.5em;
    font-style: oblique;
    font-family: sans-serif;
    color: #5a189a;
  }
  input {
    margin-top: 1.5rem;
    margin-left: 1rem;
    padding: 14px 11px;
    background: #cd9777;
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-family: fantasy;
    border: 5px solid #5390d9;
  }
  #input_from {
    font-size: 15px;
    font-style: oblique;
    font-family: cursive;
    color: #277da1;
  }
  #input_to {
    font-size: 15px;
    font-style: oblique;
    font-family: cursive;
    color: #4a4e69;
  }
  #input_date {
    font-size: 15px;
    font-style: oblique;
    font-family: cursive;
    color: #9a031e;
  }
  .button_submit {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 1.5rem;
    width: 100px;
    display: inline;
    background: #000;
    color: #bb9457;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-family: cursive;
    border: 5px solid #d3d3d3;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 3px #263c41;
            box-shadow: 0 3px #263c41;
  }
  .button_submit:hover {
    background: #b76935;
    color: #00a896;
  }
  .MyResults {
    font-size: 17px;
    font-style: italic;
    font-family: serif;
  }
  .city-text-result {
    color: #0b525b;
  }
  .date-text-result {
    color: #ffe8d6;
  }
  .days-text-result {
    color: #64dfdf;
  }
  .weather-text-result {
    color: #9d0208;
  }
  .button-print, .button-delete {
    display: inline;
    background: #000;
    color: #008000;
    font-size: 11px;
    font-style: normal;
    font-family: cursive;
    border: 5px solid #a100f2;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    -webkit-box-shadow: 0 3px #263c41;
            box-shadow: 0 3px #263c41;
  }
  .button-print:hover {
    background: #4cc9f0;
    color: #fca311;
  }
  .button-delete:hover {
    background: #008000;
    color: #000;
  }
  #demo {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
  }
  .name {
    font-size: 1em;
    font-family: sans-serif;
    text-align: right;
    color: #4ea8de;
  }
}
/*# sourceMappingURL=style.css.map */